*{
    margin: 0;
    padding: 0;
    --offBlack: #252323;
    --highLight: #FFBF00;
    --lowLight: #A69CAC;
    --offWhite: #E9E9E9;
    background-color: var(--lowLight);
}


.nav {
      color: var(--lowLight);
  }


.headerClicks {
      /* padding-right: 1rem; */
      margin-right: 2rem;
      margin-top: 1.2rem;
      margin-bottom: 1.5rem;

  }

.headerClicks:hover {
    cursor: pointer;
}


.section {
    display: flex;
    justify-content: end;
    padding-right: 4rem;
}

#HeaderDiv {
      color: var(--offWhite);
      display: flex;
      justify-content: end;
      background-color: var(--lowLight);
      position: fixed;
      width: 100%;
  }


#skills {
    color: var(--offWhite);
    height: 900px;
    padding-top: 5.5rem;
}


#contact {
    color: var(--offWhite);
    height: 300px;
    padding-top: 5.5rem;
}

#about {
    color: var(--offWhite);
    height: 900px;
    padding-top: 5.5rem;
}

#projects {
    color: var(--offWhite);
    height: 900px;
    padding-top: 5.5rem;
}

.homeBTN {
    position: fixed;

}