*{
    --offBlack: #252323;
    --highLight: #FFBF00;
    --lowLight: #A69CAC;
    --offWhite: #E9E9E9;
}


.particles-bg-canvas-self{
    background: var(--offBlack);
    
  }

  .nav {
      color: var(--lowLight);
  }

  .Header {
      color: var(--lowLight);
  }


.contact {
    color: var(--lowLight);
}

.about {
    color: var(--lowLight);
}

.projects {
    color: var(--lowLight);
}